
html {




}

.top {
    margin-left:80px;
    padding-top:2px;
    background-color:white;
    display:block;
    height:100px;
}



.top p {

    margin-left:25px;
    font-size:30px;
    margin-top:20px;
}

.topKek {

 margin-left:80px;
    padding-top:2px;
    background-color:white;

    height:100px;



}

.topKek hr {
 margin-left:25px;
    margin-top:-5px;


}


.topKek p {

    background-color:white;
    font-size:30px;
    margin-left:25px;
    margin-top:20px;
}

.top hr {
    margin-left:25px;
    margin-top:-20px;
   
}
.left {
    width: 80px;
    float:left;
    height:100%;
    background-color:#bc1a2b;
}

.left img{


    padding-top:5px;

}


.main {
  margin-left:80px;
  background-color:white;

  min-height: 100%;


 }


.

.itemInMenu {


margin-left:auto;
margin-right:auto;
width:70px;
padding-top:100px;

}


.itemInMenu:hover {

    background-color:#a61726;




}


.itemInMenu:hover {

    background-color:#a61726;


}




.itemInMenu img{

margin-left:auto;
margin-right:auto;
display:block;
}

.imageWrapper{
margin-left:auto;
margin-right:auto;
padding-top:10px;
padding-bottom:10px;



}

.itemInMain {

	font-size:20px;

	padding-top:10px;

	margin-left:22px;
}

body {

	margin:0px;
	background-color:#bc1a2b;
	height:1000px;
  min-height: 100%;


}

.modWidth {
	width:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	margin-top:200px !important;
	margin-bottom:200px !important;
	display:inline !important;	
	height:300px !important;	
}

.modWidth div{
	width:0px !important;
	margin-left:0px !important;
	margin-right:0px !important;
	margin-top:200px !important;
	margin-bottom:200px !important;

	display:inline !important;
	height:300px !important;	

}


.graphs {


	background-color:#F2F5F4;
	height:505px;
		
	margin-left:22px;
	border-radius:10px;
	display:block;
	padding-top:10px;

}


.graphs div {


	margin-left:8px !important;
	margin-top:300px !important;
	margin-bottom:800px !important;
}


#graphs1 {
	width:500px !important;
	margin-top:-200px !important;


}


#graphs2 {

	width:500px !important;
	margin-top:200px !important;

}

.graphsHeader {
	width:300px;
	margin-left:auto;
	margin-right:auto;
	font-size:44px;
	margin-top:2%;
	
}

.reqClass {

	width:47.5%;

	float:left;
	background-color:#bc1a2b;

	padding-top:20px;
	text-align:left;
	margin-right:2%;
	border-radius:5px;
	font-size:32px;
	margin-bottom:10px;
}	


.divider {

	height:100px;

	margin-bottom:80px;

}

.requirementsArea {

	display:block;

}

.reqList p {


	color:white;
	font-size:18px;
	background-color:#F2F5F4;	

	margin-bottom:0px;
	padding-top:10px;
     	border: .2px solid #D9DAE3;
	border-radius:2px;
	padding-left:10px;
	color:black;
	height:40px;
	text-align:bottom;
}

.reqList p:hover {


	
	background-color:#3BE86A;	

}






p {

	margin-top:0px;
}


.requirementsArea {
	
	margin-top:5%;
	margin-left:22px;
	display:block;
  	min-height: 100%;

}

.reqHeader {

	padding-left:10px;
	color:white;

}

.Grade {

	float:right;
	margin-right:10px;


}

.Met{



	color:white;
	font-size:22px;
	margin-left:10px;
	margin-top:-100px;
}

.Check {
	margin-right:10px;
	color:#3BE86A;
	float:right;

}


.UnCheck {
	margin-right:10px;
	color:orange;
	float:right;
}

.rightInfo {
	float:right;


}

.leftInfo {

	float:left

}

.infoBar{
	width:90%;

	height:100px;


}

.activeURL {

	background-color:white;

}

.logoMain {
	margin-bottom:20px;


}


.myButton {

	width:200px;

}


.mainBar {

	display:block;
	width:40%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:20px;
}

.moveToCent {
	margin-left:25px;
	margin-right:25px;

}

#nav {

	float:right;
	width:100px;
	background-color:#bc1a2b;
	color:white;
}
